<mat-card *ngIf="assignmentTransmis">
    <mat-card-content>
      <img mat-card-image
      src="https://material.angular.io/assets/img/examples/shiba2.jpg"
      alt="Photo of a Shiba Inu" width="100">
      <mat-card-header>
      <mat-card-title>
        {{assignmentTransmis.nom}}
      </mat-card-title>
      <mat-card-subtitle>
        {{assignmentTransmis.dateRendu|date:'dd/MM/yyyy'}}
      </mat-card-subtitle>
    </mat-card-header>
  
    <mat-checkbox (click)="assignmentTransmis.status=true" *ngIf="!assignmentTransmis.status">Devoir Rendu</mat-checkbox>
  
    </mat-card-content>
  </mat-card>